<form [formGroup]="todoForm" (submit)="submitTodo()">
  <div>
    <label for="title">Title : </label>
    <input id="title" type="text" class="bg-sky-600 w-full border-2 rounded border-cyan-500" formControlName="todoTitle">
  </div>
  <div>
    <label
    for="content"
    class="block mb-2 text-sm font-medium">
      Content :
    </label>
    <textarea
    id="content"
    name="content"
    rows="5"
    formControlName="todoContent"
    class="block bg-sky-600 w-full border-2 rounded border-cyan-500">
    </textarea>
  </div>
  <button type="submit" class="bg-sky-600 border-2 rounded border-cyan-500 my-4 py-2 px-4 rounded-full hover:bg-sky-800">Submit</button>
</form>
